<div class="message">
  <h3><%= message.title %></h3>
  <p><%= message.text %></p>
  <p><% = message.posted %></p>
  <% if(message.firstname && message.lastname) {%>
    <p><%= message.firstname %> <%= message.lastname.at(0) %>.</p>
  <% } else { %>
    <p><%= message.username %></p>
  <% } %>
</div>
