<div class="message">
  <h3><%= message.title %></h3>
  <p><%= message.text %></p>
  <% if(locals.currentUser && locals.currentUser.member) { %>
    <p>Posted: <%= message.posted %></p>
    <% if(message.firstname && message.lastname) {%>
      <p>User: <%= message.firstname %> <%= message.lastname.at(0) %>.</p>
    <% } else { %>
      <p>User: <%= message.username %></p>
    <% } %>
    <% if(locals.currentUser.admin) { %>
      <a href="delete/<%= message.id %>" class="link-button">Delete post</a>
    <% } %>
  <% } else { %>
    <p>User: Anonymous </p>
    <% } %>
</div>
